version: '3.8'
services:
  app:
    container_name: oic-web-app
    restart: unless-stopped
    env_file:
      - .env
    build:
      context: ./
      dockerfile: Dockerfile
    ports:
      - 9000:8000
